<div class="row">
    <div class="col m12">
        <h1>Galvanize Classifieds</h1>
        <button class="btn btn-primary" id="newAdFormBtn" ng-click="$ctrl.toggleAdvertiseForm($event)" ng-init="vm.toggleAdvertiseFormTracker=false">Advertise</button>
    </div>
</div>
<select ng-model=$ctrl.sortCategory id="sortDropdown">
    <option value="created_at">Date</option>
    <option value="price">Price</option>
</select>

<!--<a class='dropdown-button btn' href='#' data-activates='dropdown1'>Drop Me!</a>-->

  <!-- Dropdown Structure -->
  <ul id='dropdown1' class='dropdown-content'>
    <li><a href="#!">one</a></li>
    <li><a href="#!">two</a></li>
    <li class="divider"></li>
    <li><a href="#!">three</a></li>
  </ul>

<div class="row">
    <div class="col m4">
        <!--<ul class="nav nav-pills">-->
            <!--<li role="presentation" class="active">-->
            <input type="search" class="form-control input-sm search-form" placeholder="Search" ng-model="$ctrl.searchText">
            <!--</li>-->
            <!--<label for="sortDropdown">Sort Ads by</label>-->
        <!--</ul>-->
    </div>
</div>

<form  name="$ctrl.adForm" ng-if="$ctrl.toggleAdvertiseFormTracker" novalidate ng-submit="$ctrl.submitAd($ctrl.ad)" >
    <div>
        <label for="title">Title</label>
        <input id="title" name="title" class="form-control" required ng-model="$ctrl.ad.title" ng-class="{'has-error': $ctrl.ad.title.$invalid && $ctrl.ad.title.$touched}">
    </div>
    <div>
        <label for="description">Description</label>
        <textarea id="description" name="description" class="form-control" required ng-model="$ctrl.ad.description" ng-class="{'has-error': $ctrl.adForm.body.$invalid && $ctrl.adForm.body.$touched}"></textarea>
    </div>
    <div>
        <label for="price">Price</label>
        <input id="price" name="price" class="form-control" required ng-model="$ctrl.ad.price" ng-class="{'has-error': $ctrl.adForm.price.$invalid && $ctrl.adForm.price.$touched}">
    </div>
    <div>
        <label for="item_image">Image URL</label>
        <input id="item_image" name="item_image" class="form-control" required ng-model="$ctrl.ad.item_image" ng-class="{'has-error': $ctrl.adForm.item_image.$invalid && $ctrl.adForm.item_image.$touched}">
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary" ng-disabled="$ctrl.adForm.$invalid">
        Create Ad
        </button>
    </div>
</form>


<div class="row">
    <div class="col s12 m3" ng-repeat="ad in $ctrl.ads | filter : $ctrl.searchText | orderBy : $ctrl.sortCategory : true" id={{$index}}>
        <div class="card" >
            <div class="card-image" >
                <img ng-src={{ad.item_image}} alt="item image">
                <a style="right:70px;" class="btn-floating halfway-fab waves-effect waves-light rgb(38,166,154)"><i class="material-icons">mode_edit</i></a>
                <a  class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">delete</i></a>   
            </div>
            <div class="card-content">
                <h4 ><b>{{ad.title}}</b></h4>
                <b>Price:</b> <p>{{ad.price | currency}}</p>
                <b>Description:</b> <p class="card-text">{{ad.description}}</p>
            </div>
        </div>
    </div>
</div>